/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* COMMON */
/* Layout */
.wrapper{
    width: 100%;
    height: calc(100vh - 80px);

    display: flex;

    /* debug */
    border: 1px solid black;
    background-color: aquamarine;
}

.white{
    color: white;
}

.grey{
    color: #595959;
}

.mb-20{
    margin-bottom: 20px;
}

/* HEADER */
.header{
    height: 80px;
    background-color: rgb(9, 11, 18, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 200px);
    margin-left: 200px;
    z-index: 9999;
}

.upgrade-button{
    text-decoration: none;
    background-color: inherit;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 15px;
    position: absolute;
    right: 20px;
    top: 25%;
}

.upgrade-button:hover{
    transform: scale(1.1);
}

/* MAIN */
/* OPTION COL */
.option-col{
    width: 200px;
    background-color: black;
    font-size: 1.3rem;
}

.option-content{
    height: calc(100vh - 80px);
    position: relative;
}

.logo-small{
    display: none;
}

.logo{
    padding: 1rem 3rem 1rem 1rem;
}

.option-col ul{
    list-style: none;
    margin-bottom: 40px;
    color: #595959;
}

.option-col ul img{
    width: 40px;
    vertical-align: middle;
}

.option-col ul span{
    vertical-align: middle;
    margin-left: 5px;
}

.option-col li{
    color: #595959;
    margin-bottom: 10px;
    padding-left: 1rem;
}

h4{
    padding-left: 1rem;
}

.plus-button{
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    margin-right: 5px;
    font-size: 2rem;
}

.playlist-ul li:nth-child(1){
    margin-top: 10px;
}

.download-user{
    color: #595959;
    padding-left: 1rem;
    position: absolute;
    bottom: 0;
    margin-top: auto;
    margin-bottom: 10px;
}

.download-user img{
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.download-user span{
    vertical-align: middle;
}

.line{
    border: 1px solid #595959;
    margin: 1rem 1rem 1rem 0;
}

.user{
    background-color: #a3a3a3;
    border-radius: 50%;
}

.border-green{
    border-left: 3px solid chartreuse;
}

.option-col li:hover{
    color: white;
}

.download-user span:hover{
    color: white;
}

/* MUSIC COL */
.music-col{
    width: calc(100% - 200px);
    overflow: auto;
    background-color: #141922;
    padding: 0 20px 30px;
}

.music-content{
    height: calc(100vh - 80px);
}

.menu-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 20px;
    color: #595959;
    padding-top: 100px;
    padding-bottom: 20px;
}

.menu-list li:first-child {
    position: relative;
}

.menu-list li:first-child::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%; 
    transform: translateX(-50%);
    width: 50px; 
    height: 3px;
    background-color: chartreuse;
}

.menu-list li:hover{
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col{
    width: calc(100% / 6);
    padding: 10px;
    text-align: center;
}

.col h3{
    color: white;
    padding: 10px 0;
}

.col span{
    color:#595959;
}

.circle{
    border-radius: 50%;
}

.img-play{
    position: relative;
}

.play-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity: 0;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-play .play-circle:hover{
    opacity: 1;
}

/* FOOTER */
.footer{
    height: 80px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.song{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30%;
}

.song img{
    width: 40px;
    margin-right: 10px;
}

.song h5{
    color: white;
    font-size: 1.2rem;
}

.song span{
    color: #595959;
    font-size: 0.8rem;
}

.song span:hover{
    color: white;
    text-decoration: underline;
}
.icon{
    margin-left: 30px;
}

.icon i{
    color: #595959;
    padding-right: 10px;
}

.icon i:hover{
    color: white;
}

.option-play{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
}

.icon-play{
    display: flex;
    align-items: center;
}

.icon-play i{
    color: white;
    padding: 0 10px;
}

.icon-centre{
    font-size: 30px;
}

.icon-centre:hover{
    transform: scale(1.1);
}

.minute{
    height: 5px;
    width: 400px;
    position: relative;
    background-color: #595959;
}

.minute-asc{
    height: 5px;
    width: 80px;
    background-color: #a3a3a3;
    position: relative;
}

.minute:hover .minute-asc{
    background-color: chartreuse;
}

.minute:hover .minute-asc::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: -5px; 
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    background-color:#a3a3a3 ;
}

.min-inizio{
    position: absolute;
    top: -7px;
    left: -40px;
    color: white;
    font-size: 0.8rem;
}

.min-fine{
    position: absolute;
    top: -7px;
    right: -40px;
    color: white;
    font-size: 0.8rem;
}

.option-song{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.icon-song{
    display: flex;
    align-items: center;
}

.icon-song i{
    color: white;
    padding: 0 10px;
}

.volume{
    height: 5px;
    width: 100px;
    background-color: #595959;
}

.volume-active{
    height: 5px;
    width: 20px;
    background-color: #a3a3a3;
    position: relative;
}

.volume:hover .volume-active{
    background-color: chartreuse;
}

.volume:hover .volume-active::after{
    content: '';
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    background-color:#a3a3a3 ;
}

/* *********** */
/* RESPONSIVE */
/* ********** */

/* TABLET */
@media screen and (max-width: 878px) {
    .col{
        width: calc(100% / 4);
        padding: 10px;
    }

    .minute{
        width: 300px;
    }

    .minute-asc{
        width: 60px;
    }
}

/* SMARTPHONE */
@media screen and (max-width: 639px) {
    .col{
        width: calc(100% / 2);
        padding: 10px;
    }

    .minute{
        width: 200px;
    }

    .minute-asc{
        width: 40px;
    }

    .volume{
        width: 60px;
    }

    .volume-active{
        width: 12px;
    }
}

/* SMARTPHONE XS */
@media screen and (max-width: 552px) {
    /* HEADER */
    .header{
        width: calc(100% - 50px);
        margin-left: 50px;
    }

    /* OPTION COL */
    .option-col{
        width: 50px;
    }

    .logo{
        display: none;
    }

    .logo-small{
        display: block;
        width: 20px;
        margin: 1rem 3rem 1rem 1rem;
    }

    .option-ul span,
    h4,
    .playlist-ul,
    .download-user span,
    hr{
        display: none;
    }

    .download-user img{
        margin-bottom: 10px;
    }

    .border-green{
        border: 0px;
    }

    .option-col ul img{
        width: 20px;
    }

    /* MUSIC COL */
    .music-col{
        width: calc(100% - 50px);
    }

    .col{
        width: calc(100% / 2);
        padding: 10px;
    }

    .minute{
        width: 100px;
    }

    .minute-asc{
        width: 20px;
    }
}